* {
  padding: 0;
  margin: 0;
}

/* Header */

header {
  height: 45px;
}

#verticalAlign {
  vertical-align: middle;
}

#SignIn {
  margin-left: auto;
  width: max-content;
  margin-right: 20px;
  margin-top: 10px;
}

#SignIn div {
  flex-wrap: wrap;
  float: left;
}

#SignIn p {
  width: max-content;
  font-size: 14px;
}

#SignIn button {
  margin-left: 10px;
  border-radius: 10%;
  background-color: #0077c5;
  color: white;
  padding: 8px 20px;
}

.grey {
  color: grey;
}

.blue {
  color: #0077c5;
}

#signInButtonText {
  font-size: 15px;
}

#signInButtonText img {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

/* Main */
.backgroundPage {
  background-color: #eceef1;
}

#form {
  width: max-content;
  margin: 0 auto;
  padding-top: 80px;
}

#productIcons {
  vertical-align: middle;
  font-size: 23px;
  width: max-content;
  margin: 0 auto 15px auto;
}

#productIcons  img {
  height: 25px;
  width: 25px;
}

#intuitLogo {
  margin: 0 110px;
  height: 48px;
  width: 200px;
  vertical-align: middle;
  padding-bottom: 10px;
}

#formContent {
  border-radius: 1%;
  margin: 0 auto;
  padding: 0 50px;
}

#box {
  background-color: white;
  height: 720px;
  width: 421px;
  border: 1px solid grey;
}

#formTittle {
  font-size: 26px;
  width: max-content;
  margin: 24px auto 20px auto;
}

.textForm {
  margin: 0 auto;
  width: max-content;
}

.input {
  margin: 20px 0 0 0;
}

.inputText {
  font-size: 30px;
  margin: 10px 0;
  width: 100%;
}

#advice {
  font-size: 10px;
}

#createAcountButton {
  margin-top: 22px;
  margin-bottom: 50px;
  width: 100%;
  border-radius: 5%;
  background-color: #0077c5;
  color: white;
  font-size: 20px;
  height: 40px;
}

#termsAndConditions {
  text-align: center;
  padding-bottom: 40px;
}

#reCaptcha {
  margin: 0 auto;
  width: 320px;
  height: 60px;
  background-color: #eceef1;
  padding: 15px 50px;
  font-size: 12px;
}

/* Footer */

footer {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 15px;
}

#createAcountImage {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
